<header>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">{{ 'forum' | translate }}</a>

      <!-- Show this for logged in users -->
      <div class="pull-xs-right">
        <ul class="nav navbar-nav pull-xs-right">
          <li (click)="currentLang = lang" *ngFor="let lang of langs" class="nav-item lang">
            <a [ngClass]="currentLang === lang ? 'active' : ''" class="nav-link">
              {{ lang | translate }}
            </a>
          </li>

          <li class="nav-item message">
            <a class="nav-link" routerLink="/editor" routerLinkActive="active">
              <em class="ion-compose"></em>&nbsp;{{ 'new-message' | translate }}
            </a>
          </li>
        </ul>
        <a class="username" [href]="profileHref" *ngIf="currentUser">{{currentUser.username}}</a>
      </div>
    </div>
  </nav>
</header>
