<div class="home-page">
  <div *appShowAuthed="false" class="banner">
    <div class="container">
      <h1 class="logo-font">{{ 'forum' | translate }}</h1>
      <p>{{ 'forum-title' | translate }}</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a (click)="setListType('feed')" [ngClass]="{ active: state.currentFilters?.type === 'feed' }"
                 class="nav-link">
                {{ 'your-feed' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a
                (click)="setListType('all')"
                [ngClass]="{ active: state.currentFilters?.type === 'all'}"
                class="nav-link"
              >
                {{ 'global-feed' | translate }}
              </a>
            </li>
          </ul>
        </div>

        <div class="list-messages">
          <app-message-list [config]="state.currentFilters" [limit]="10"></app-message-list>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>{{ 'popular-tags' | translate }}</p>

          <div class="tag-list">
            <a (click)="setTag(tag)" *ngFor="let tag of state.tags" class="tag-default tag-pill"
               [ngClass]="tag===state.currentFilters?.filters?.tag ? 'active' : ''">
              {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            {{ 'loading-tags' | translate }}
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            {{ 'no-tags-yet' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
